@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Noto+Serif&display=swap');
*{
  font-family: 'Kanit', sans-serif;
 }


 .uuh2{
     text-align: center;
 }

.uuh1{
    background-color:white;
    color: black;
    width: 500px;
    height: 400px;
    margin-left: 440px;
    border-style: groove;
}

.uucard{
    background-color:black ;
    width: 0px;
}

.uuone{
   margin-left: 600px;
   width: 190px;
   height: 30px;
   color: black;
   background-color:white;
   margin-top: -300px;
   text-align: center;
   border-style: groove;
}

.uuid{
  margin-left: 9px;
  border-style: none;
  background-color:white ;
}

.uutwo{
 margin-top:5px ;
 margin-left: 570px;
 color: black;
 width: 240px;
 height: 30px;
 background-color:white;
 text-align: center;
 border-style: groove;
}

.uufact_body{
 border-style: none;
 background-color:white ;
}

.uubtndiv{
    background-color:black ;
    color: white;
    width: 0px;
}

.uubtn1{
    background-color:orange ;
    color: white;
    width: 250px;
    height: 40px;
    margin-left: 570px;
    margin-top: -50px;
    border-radius: 40px;
}
 